<footer>
	<main class="light-text">
		<nav>
			<a href="/docs/getting-started-guides/helloworld/">Введение</a>
			<a href="/docs/">Руководства</a>
			<a href="/iot-use-cases/">Сценарии использования</a>
			<a href="https://blog.thingsboard.io/">Блог</a>
			<a href="/docs/services/">Сервисы</a>
			<a href="/docs/contact-us/">Контакты</a>
		</nav>
<!--
		<div class="center">
			<div class="social">
				<div>
					<a href="https://twitter.com/thingsboard" class="twitter"><span>twitter</span></a>
					<a href="https://github.com/thingsboard/thingsboard" class="github"><span>Github</span></a>
					<a href="https://gitter.im/thingsboard/chat" class="gitter"><span>Gitter</span></a>
					<a href="http://stackoverflow.com/questions/tagged/thingsboard" class="stack-overflow"><span>Stack Overflow</span></a>
				</div>
				<div>
					<a href="https://groups.google.com/forum/#!forum/thingsboard" class="mailing-list"><span>Mailing List</span></a>
					<a href="https://www.youtube.com/thingsboard" class="youtube"><span>YouTube Channel</span></a>
					<a href="https://www.facebook.com/thingsboard" class="facebook"><span>Facebook Page</span></a>
				</div>
			</div>
		</div>
-->
		<div id="miceType" class="center">&copy; {{ 'now' | date: "%Y" }} ПАО&nbsp;«Ростелеком».&nbsp;18+</div>
	</main>
</footer>
