{% for thistoc in site.data.globals.tocs %}{% if foundTOC %}{% break %}{% else %}{% assign tree = site.data[thistoc].toc %}{% include tocsearch.html %}{% endif %}{% endfor %}
{% for override in site.data.overrides.overrides %}{% if page.path contains override.path %}{% assign notitle = "true" %}{% endif %}{% endfor %}
{% if site.data[foundTOC].notitle == "true" or page.notitle == "true" %}{% assign notitle = "true" %}{% endif %}

<!Doctype html>
<html id="docs" class="{{site.data[foundTOC].bigheader}}">

{% include head-header.html %}

<!--
<section id="hero" class="light-text">
  <div id="hero-content">
    <div id="vendorStrip" class="light-text">
      <div id="docsList">
          <ul>
            <li><a href="/docs/" {% if site.data[foundTOC].bigheader == "ThingsBoard Documentation" %}class="YAH"{% endif %}>Документация</a></li>
            <li><a href="/docs/getting-started-guides/helloworld/" {% if site.data[foundTOC].bigheader == "Getting Started" %}class="YAH"{% endif %}>Введение</a></li>
            <li><a href="/docs/guides/" {% if site.data[foundTOC].bigheader == "Руководства" %}class="YAH"{% endif %}>Руководства</a></li>
            <li><a href="/docs/installation/" {% if site.data[foundTOC].bigheader == "Установка" %}class="YAH"{% endif %}>Установка</a></li>
            <li><a href="/docs/reference/" {% if site.data[foundTOC].bigheader == "Архитектура" %}class="YAH"{% endif %}>Архитектура</a></li>
            <li><a href="/docs/api/" {% if site.data[foundTOC].bigheader == "API" %}class="YAH"{% endif %}>API</a></li>
          </ul>
      </div>
    </div>
  </div>
</section>
-->

{% assign docContentClassList='' %}
{% if site.data[foundTOC].hidetoc == "true" or page.hidetoc == "true" %}
{% assign docContentClassList = docContentClassList | append: 'noToc' %}
{% endif %}
{% if page.horizontaltoc == "true" %}
{% assign docContentClassList = docContentClassList | append: ' horizontalToc' %}
{% endif %}

<section id="encyclopedia">
  {% if site.data[foundTOC].hidetoc != "true" and page.hidetoc != "true" %}
  <div id="docsToc" {% if page.horizontaltoc == "true" %} class="horizontal" {% endif %}>
        <div class="pi-accordion">
        {% assign tree = site.data[foundTOC].toc %}{% include tree.html %}
        </div> <!-- /pi-accordion -->
    <button class="push-menu-close-button" onclick="tb.toggleToc()"></button>
  </div> <!-- /docsToc -->
  {% endif %}
  <div id="docsContent" class="{{ docContentClassList }}">
    {% if notitle != "true" %}<h1>{{ title }}</h1>{% endif %}
    {{ content }}
  </div>
</section>

{% include footer.html %}

{% if site.data[foundTOC].hidetoc != "true" and page.hidetoc != "true" %}
<button class="flyout-button" onclick="tb.toggleToc()"></button>
{% endif %}

<style>
  .cse .gsc-control-cse, .gsc-control-cse {
    padding: 0;
  }
  .gsc-control-cse table, .gsc-control-cse-en table {
    margin:0px !important;
  }
  .gsc-above-wrapper-area {
    border-bottom: 0;
  }
</style>
{% if page.content contains ".copy-code" %}
<script>
    jqueryDefer(function () {
        var allCodeBlocksElements = $( ".copy-code" );
        allCodeBlocksElements.each(function(i) {
            var currentId = "codeblock" + (i + 1);
            var block = $(this).find('pre.highlight > code');
            block.attr('id', currentId);
            var clipButton = $('<button class="clipboard-btn" data-clipboard-target="#' + currentId + '"><img src="https://clipboardjs.com/assets/images/clippy.svg" alt="Copy to clipboard"></button>');
            $(this).append(clipButton);
            clipButton.on('mouseleave', clearTooltip);
            clipButton.on('blur', clearTooltip);
        });
        var clipboard = new Clipboard('.clipboard-btn');
        clipboard.on('success', function(e) {
            e.clearSelection();
            showTooltip(e.trigger, 'Copied!');
        });

        function clearTooltip(e) {
            var el = $(e.currentTarget);
            el.removeClass('tooltipped tooltipped-s');
            el.attr('aria-label', null);
        }

        function showTooltip(elem, msg) {
            var el = $(elem);
            el.addClass('tooltipped tooltipped-s');
            el.attr('aria-label', msg);
        }

    });
</script>
{% endif %}
</body>
</html>
